실습 소스/n8n_AI_Agent_실습/실습6_종합_업무비서_Agent.json
{
  "name": "실습6: 종합 업무 비서 Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "a7060001-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "webhookId": "a7060001-webhook-4000-8000-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 n8n 실습용 한국어 업무 비서 Agent입니다.\n\n[역할]\n- 회의 일정, 시간, 간단한 업무 계산을 도와줍니다.\n\n[규칙]\n1. 날짜·시간 → Date & Time 도구 필수\n2. 숫자 계산 → Calculator 도구 필수\n3. 답변 형식:\n   - 첫 줄: 한 줄 요약\n   - 다음 줄: 근거 1~2문장\n4. 한국어 존댓말, 5문장 이내",
          "maxIterations": 8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-160, 0],
      "id": "a7060002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-400, 280],
      "id": "a7060003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-160, 280],
      "id": "a7060004-0004-4000-8000-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [80, 280],
      "id": "a7060005-0005-4000-8000-000000000005",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [320, 280],
      "id": "a7060006-0006-4000-8000-000000000006",
      "name": "Date & Time"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Calculator": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Date & Time": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
