실습 소스/AI 기초 실습 답안/실습2_OpenAI_시스템_프롬프트.json
{
  "name": "실습2: OpenAI 시스템 프롬프트",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, 0],
      "id": "e2020001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2020002-0002-4000-8000-000000000001",
              "name": "product",
              "value": "n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 0],
      "id": "e2020002-0002-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "당신은 IT 제품 소개 전문 카피라이터입니다. 항상 한국어로, 50자 이내로 답합니다.",
              "role": "system"
            },
            {
              "content": "={{ $json.product + '을(를) 한 줄로 소개해 주세요.' }}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-200, 0],
      "id": "e2020003-0003-4000-8000-000000000003",
      "name": "OpenAI"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "OpenAI", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
