실습 소스/AI 기초 실습 답안/실습5_Gemini_시스템_프롬프트.json
{
  "name": "실습5: Gemini 시스템 프롬프트",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, 0],
      "id": "e2050001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2050002-0002-4000-8000-000000000001",
              "name": "product",
              "value": "Gemini",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 0],
      "id": "e2050002-0002-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "당신은 친절한 기술 블로거입니다. 항상 한국어로, 60자 이내로 답합니다.",
              "role": "system"
            },
            {
              "content": "={{ $json.product + '이 무엇인지 한 줄로 설명해 주세요.' }}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-200, 0],
      "id": "e2050003-0003-4000-8000-000000000003",
      "name": "Google Gemini"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Google Gemini", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
