실습 소스/02_2단계 실습/실습6_종합_리포트.json
{
  "name": "2단계 실습6: 종합 리포트",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-960, 0],
      "id": "s2060001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, 0],
      "id": "s2060002-0002-4000-8000-000000000002",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/users/{{ $('HTTP Request').item.json.userId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 0],
      "id": "s2060003-0003-4000-8000-000000000003",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/comments?postId={{ $('HTTP Request').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "id": "s2060004-0004-4000-8000-000000000004",
      "name": "HTTP Request2"
    },
    {
      "parameters": { "maxItems": 3 },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "s2060005-0005-4000-8000-000000000005",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const post = $('HTTP Request').first().json;\nconst user = $('HTTP Request1').first().json;\nconst comments = $input.all().map(i => i.json);\n\nconst commentLines = comments\n  .map(c => `- ${c.name}: ${c.body.substring(0, 30)}...`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    report: `=== 게시글 리포트 ===\\n제목: ${post.title}\\n작성자: ${user.name} (${user.email})\\n\\n--- 댓글 (상위 3건) ---\\n${commentLines}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "s2060006-0006-4000-8000-000000000006",
      "name": "Code"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "HTTP Request2", "type": "main", "index": 0 }]]
    },
    "HTTP Request2": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
