실습 소스/AI 활용 실습/실습6_종합_AI_리포트.json
{
  "name": "활용 실습6: 종합 AI 리포트",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1440, 0],
      "id": "a3060001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 0],
      "id": "a3060002-0002-4000-8000-000000000002",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/comments?postId={{ $('HTTP Request').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-960, 0],
      "id": "a3060003-0003-4000-8000-000000000003",
      "name": "HTTP Request1"
    },
    {
      "parameters": { "maxItems": 3 },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-720, 0],
      "id": "a3060004-0004-4000-8000-000000000004",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const post = $('HTTP Request').first().json;\nconst comments = $input.all().map(i => i.json);\n\nconst commentBlock = comments\n  .map((c, i) => `${i + 1}. ${c.name}: ${c.body.substring(0, 50)}...`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    promptText: `게시글 제목: ${post.title}\\n게시글 본문: ${post.body}\\n\\n댓글 (상위 ${comments.length}건):\\n${commentBlock}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 0],
      "id": "a3060005-0005-4000-8000-000000000005",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "아래 게시글과 댓글을 분석하여 한국어로 리포트를 작성하세요.\n\n{{ $json.promptText }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-200, 0],
      "id": "a3060006-0006-4000-8000-000000000006",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-200, 200],
      "id": "a3060007-0007-4000-8000-000000000007",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"title\": \"게시글 핵심 주제\",\n\t\"summary\": \"게시글과 댓글을 종합한 2문장 요약\",\n\t\"keywords\": [\"키워드1\", \"키워드2\", \"키워드3\"],\n\t\"commentTone\": \"positive\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-200, 400],
      "id": "a3060008-0008-4000-8000-000000000008",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3060009-0009-4000-8000-000000000001",
              "name": "reportTitle",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "a3060009-0009-4000-8000-000000000002",
              "name": "reportSummary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "a3060009-0009-4000-8000-000000000003",
              "name": "topKeywords",
              "value": "={{ $json.output.keywords.join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [80, 0],
      "id": "a3060009-0009-4000-8000-000000000009",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    },
    "Code": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Basic LLM Chain", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
