실습 소스/AI 활용 실습/실습5_AI_Switch_분기.json
{
  "name": "활용 실습5: AI 감정 분류 + Switch 분기",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1200, 0],
      "id": "a3050001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3050002-0002-4000-8000-000000000001",
              "name": "review",
              "value": "제품 품질은 좋은데 배송이 너무 늦었습니다.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-960, 0],
      "id": "a3050002-0002-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "다음 리뷰의 감정을 분석하세요. sentiment는 positive, negative, neutral 중 하나만 사용하세요.\n\n리뷰: {{ $json.review }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-680, 0],
      "id": "a3050003-0003-4000-8000-000000000003",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-680, 200],
      "id": "a3050004-0004-4000-8000-000000000004",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"sentiment\": \"negative\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-680, 400],
      "id": "a3050005-0005-4000-8000-000000000005",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a3050006-0006-4000-8000-000000000001",
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "positive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a3050006-0006-4000-8000-000000000002",
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "negative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a3050006-0006-4000-8000-000000000003",
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "neutral"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-400, 0],
      "id": "a3050006-0006-4000-8000-000000000006",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3050007-0007-4000-8000-000000000001",
              "name": "message",
              "value": "={{ '😊 긍정 리뷰입니다: ' + $('Edit Fields').item.json.review }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-120, -120],
      "id": "a3050007-0007-4000-8000-000000000007",
      "name": "Edit Fields (positive)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3050008-0008-4000-8000-000000000001",
              "name": "message",
              "value": "={{ '😞 부정 리뷰입니다: ' + $('Edit Fields').item.json.review }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-120, 0],
      "id": "a3050008-0008-4000-8000-000000000008",
      "name": "Edit Fields (negative)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3050009-0009-4000-8000-000000000001",
              "name": "message",
              "value": "={{ '😐 중립 리뷰입니다: ' + $('Edit Fields').item.json.review }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-120, 120],
      "id": "a3050009-0009-4000-8000-000000000009",
      "name": "Edit Fields (neutral)"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Switch", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Basic LLM Chain", "type": "ai_outputParser", "index": 0 }]]
    },
    "Switch": {
      "main": [
        [{ "node": "Edit Fields (positive)", "type": "main", "index": 0 }],
        [{ "node": "Edit Fields (negative)", "type": "main", "index": 0 }],
        [{ "node": "Edit Fields (neutral)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
