실습 소스/2단계 실습 답안/실습2_Filter.json
{
  "name": "2단계 실습2: Filter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 0],
      "id": "s2020001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 0],
      "id": "s2020002-0002-4000-8000-000000000002",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s2020003-0003-4000-8000-000000000001",
              "leftValue": "={{ $json.userId }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-320, 0],
      "id": "s2020003-0003-4000-8000-000000000003",
      "name": "Filter"
    },
    {
      "parameters": { "maxItems": 5 },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-80, 0],
      "id": "s2020004-0004-4000-8000-000000000004",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s2020005-0005-4000-8000-000000000001",
              "name": "postId",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "s2020005-0005-4000-8000-000000000002",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "s2020005-0005-4000-8000-000000000003",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 0],
      "id": "s2020005-0005-4000-8000-000000000005",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Filter", "type": "main", "index": 0 }]]
    },
    "Filter": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
