실습 소스/2단계 실습 답안/실습5_댓글_리포트.json
{
  "name": "2단계 실습5: 댓글 리포트",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-960, 0],
      "id": "s2050001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/comments?postId=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, 0],
      "id": "s2050002-0002-4000-8000-000000000002",
      "name": "HTTP Request"
    },
    {
      "parameters": { "maxItems": 5 },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-480, 0],
      "id": "s2050003-0003-4000-8000-000000000003",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const { name, body } = $input.first().json;\nreturn [{ json: { line: `- ${name}: ${body.substring(0, 40)}...` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0],
      "id": "s2050004-0004-4000-8000-000000000004",
      "name": "Code"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "s2050005-0005-4000-8000-000000000005",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s2050006-0006-4000-8000-000000000001",
              "name": "report",
              "value": "={{ '📝 댓글 리포트 (postId=1)\\n\\n' + $json.data.map(item => item.line).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0],
      "id": "s2050006-0006-4000-8000-000000000006",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    },
    "Code": {
      "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]]
    },
    "Aggregate": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
