실습 소스/2단계 실습 답안/실습4_Webhook.json
{
  "name": "2단계 실습4: Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "greet",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "s2040001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "webhookId": "s2040001-webhook-greet-0001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s2040002-0002-4000-8000-000000000001",
              "name": "greeting",
              "value": "={{ '안녕하세요, ' + $json.body.name + '님!' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 0],
      "id": "s2040002-0002-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { message: $json.greeting } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [80, 0],
      "id": "s2040003-0003-4000-8000-000000000003",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
