실습 소스/AI 활용 실습 답안/실습1_Structured_Output_감정분석.json
{
  "name": "활용 실습1: Structured Output 감정분석",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-960, 0],
      "id": "a3010001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3010002-0002-4000-8000-000000000001",
              "name": "review",
              "value": "배송이 빨라서 만족합니다! 포장도 깔끔했어요.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-720, 0],
      "id": "a3010002-0002-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "다음 고객 리뷰를 분석하세요. 반드시 지정된 JSON 형식으로만 답하세요.\n\n리뷰: {{ $json.review }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-440, 0],
      "id": "a3010003-0003-4000-8000-000000000003",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-440, 200],
      "id": "a3010004-0004-4000-8000-000000000004",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"sentiment\": \"positive\",\n\t\"reason\": \"배송이 빠르고 포장이 좋음\",\n\t\"score\": 85\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-440, 400],
      "id": "a3010005-0005-4000-8000-000000000005",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Basic LLM Chain", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
