실습 소스/03_AI 기초 실습/실습3_Basic_LLM_Chain_OpenAI.json
{
  "name": "실습3: Basic LLM Chain + OpenAI",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, 0],
      "id": "e2030001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2030002-0002-4000-8000-000000000001",
              "name": "review",
              "value": "배송이 빨라서 만족합니다!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 0],
      "id": "e2030002-0002-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "다음 고객 리뷰의 감정을 분석하세요.\n반드시 positive, negative, neutral 중 하나만 답하세요. 다른 말은 하지 마세요.\n\n리뷰: {{ $json.review }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-200, 0],
      "id": "e2030003-0003-4000-8000-000000000003",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-200, 200],
      "id": "e2030004-0004-4000-8000-000000000004",
      "name": "OpenAI Chat Model"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
