실습 소스/05_Agent 실습/실습3_Simple_Memory_대화기억.json
{
  "name": "실습3: Simple Memory 대화 기억",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "a7030001-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "webhookId": "a7030001-webhook-4000-8000-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 친절한 한국어 대화 도우미입니다. 이전 대화를 기억하며 짧게 답하세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-160, 0],
      "id": "a7030002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-320, 220],
      "id": "a7030003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [0, 220],
      "id": "a7030004-0004-4000-8000-000000000004",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
