실습 소스/06_AI Agent 활용 실습/실습3_Structured_Output_문의분류.json
{
  "name": "심화 실습3: Structured Output 문의 분류 Agent",
  "nodes": [
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-560, 0],
      "id": "b8030001-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "webhookId": "b8030001-webhook-4000-8000-000000000001"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 고객 문의 분류 Agent입니다.\n사용자 메시지를 분석하여 JSON으로만 응답하세요.\n\ncategory: billing | technical | shipping | general 중 하나\npriority: high | medium | low\nsummary: 한 줄 요약 (한국어)\nsuggested_action: 권장 조치 (한국어)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-200, 0],
      "id": "b8030002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.1 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-400, 280],
      "id": "b8030003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-160, 280],
      "id": "b8030004-0004-4000-8000-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"category\": \"billing\",\n\t\"priority\": \"high\",\n\t\"summary\": \"결제 오류 문의\",\n\t\"suggested_action\": \"결제팀 에스컬레이션\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [80, 280],
      "id": "b8030005-0005-4000-8000-000000000005",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "AI Agent", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
