실습 소스/06_AI Agent 활용 실습/실습6_복합추론_여행플래너.json
{
  "name": "심화 실습6: 복합 추론 여행 플래너 Agent",
  "nodes": [
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-640, 0],
      "id": "b8060001-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "webhookId": "b8060001-webhook-4000-8000-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 해외여행 경비 플래너 Agent입니다.\n\n[작업 순서]\n1. 목적지 정보가 필요하면 Wikipedia로 검색\n2. 현재 날짜는 Date & Time으로 확인\n3. 경비 계산은 Calculator로 수행 (환율은 사용자가 제공한 값 사용)\n\n[응답 형식]\n📍 목적지: (한 줄)\n📅 기준일: (Date & Time 결과)\n💰 예상 경비: (Calculator 결과, 원화)\n📝 참고: (Wikipedia에서 얻은 팁 1문장)",
          "maxIterations": 12
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-240, 0],
      "id": "b8060002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.25 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-480, 300],
      "id": "b8060003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-240, 300],
      "id": "b8060004-0004-4000-8000-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [0, 300],
      "id": "b8060005-0005-4000-8000-000000000005",
      "name": "Calculator"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "b8060006-0006-4000-8000-000000000006",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [480, 300],
      "id": "b8060007-0007-4000-8000-000000000007",
      "name": "Wikipedia"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Calculator": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Date & Time": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Wikipedia": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
