실습 소스/06_AI Agent 활용 실습/실습5_다중Tool_리서치비서.json
{
  "name": "활용 실습5: 다중 Tool 리서치 비서 Agent",
  "nodes": [
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-720, 0],
      "id": "b8050001-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "webhookId": "b8050001-webhook-4000-8000-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 만능 리서치 비서 Agent입니다.\n\n[도구 선택 규칙]\n1. 사실·인물·역사 질문 → Wikipedia\n2. 날씨·기온 질문 → OpenWeatherMap Tool (cityName 필요)\n3. 농산물·채소·과일 가격 → KAMIS (item_code, regday 필요)\n4. 카카오톡 전송 요청 → 카카오톡 나에게 보내기 (message 필요)\n5. 숫자 계산 → Calculator\n6. 현재 날짜·시간 → Date & Time\n\n[응답 규칙]\n- 사용한 도구명을 첫 줄에 명시\n- 한국어 존댓말, 5문장 이내",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-280, 0],
      "id": "b8050002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.3 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-640, 320],
      "id": "b8050003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-400, 320],
      "id": "b8050004-0004-4000-8000-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "cityName": "={{ $fromAI('cityName', '도시명 (예: Seoul, 청주시)', 'string') }}",
        "language": "kr"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [-160, 320],
      "id": "b8050005-0005-4000-8000-000000000005",
      "name": "OpenWeatherMap Tool"
    },
    {
      "parameters": {
        "toolDescription": "KAMIS에서 농산물 소매 가격을 조회합니다. item_code는 부류코드(딸기:200, 고구마:100, 배추:212), regday는 조회일 YYYY-MM-DD입니다.",
        "url": "https://www.kamis.or.kr/service/price/xml.do",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "action", "value": "dailyPriceByCategoryList" },
            { "name": "p_productcls_code", "value": "01" },
            {
              "name": "p_item_category_code",
              "value": "={{ $fromAI('item_code', '부류코드 (딸기:200, 고구마:100, 배추:212)', 'string') }}"
            },
            {
              "name": "p_regday",
              "value": "={{ $fromAI('regday', '조회일 YYYY-MM-DD', 'string') }}"
            },
            { "name": "p_convert_kg_yn", "value": "N" },
            { "name": "p_cert_key", "value": "발급받은_KAMIS_cert_key" },
            { "name": "p_cert_id", "value": "발급받은_KAMIS_cert_id" },
            { "name": "p_returntype", "value": "json" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [80, 320],
      "id": "b8050006-0006-4000-8000-000000000006",
      "name": "KAMIS 농산물 가격"
    },
    {
      "parameters": {
        "toolDescription": "카카오톡 '나에게 보내기'로 텍스트 메시지를 전송합니다. message에 보낼 내용 전체를 입력하세요.",
        "method": "POST",
        "url": "https://kapi.kakao.com/v2/api/talk/memo/default/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded;charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "template_object",
              "value": "={{ JSON.stringify({ object_type: 'text', text: $fromAI('message', '카카오톡으로 보낼 메시지 내용', 'string'), link: { web_url: 'https://developers.kakao.com', mobile_web_url: 'https://developers.kakao.com' }, button_title: '바로 확인' }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [320, 320],
      "id": "b8050007-0007-4000-8000-000000000007",
      "name": "카카오톡 나에게 보내기"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [560, 320],
      "id": "b8050008-0008-4000-8000-000000000008",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [800, 320],
      "id": "b8050009-0009-4000-8000-000000000009",
      "name": "Calculator"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [1040, 320],
      "id": "b8050010-0010-4000-8000-000000000010",
      "name": "Date & Time"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "OpenWeatherMap Tool": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "KAMIS 농산물 가격": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "카카오톡 나에게 보내기": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Wikipedia": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Calculator": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Date & Time": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
