실습 소스/06_AI Agent 활용 실습/실습4_Wikipedia_지식검색.json
{
  "name": "심화 실습4: Wikipedia 지식 검색 Agent",
  "nodes": [
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-560, 0],
      "id": "b8040001-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "webhookId": "b8040001-webhook-4000-8000-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 사실 확인 기반 한국어 리서치 Agent입니다.\n- 역사, 인물, 과학, 지리 등 사실 질문 → 반드시 Wikipedia 도구로 검색 후 답변\n- 검색 결과에 없는 내용은 추측하지 말고 \"확인할 수 없습니다\"라고 답하세요.\n- 답변 형식: 핵심 2~3문장 + 출처(Wikipedia) 명시"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-200, 0],
      "id": "b8040002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.3 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-400, 280],
      "id": "b8040003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-160, 280],
      "id": "b8040004-0004-4000-8000-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [80, 280],
      "id": "b8040005-0005-4000-8000-000000000005",
      "name": "Wikipedia"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Wikipedia": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
