실습 소스/06_AI Agent 활용 실습/실습7_Webhook_외부연동.json
{
  "name": "심화 실습7: Webhook 외부 연동 Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 0],
      "id": "b8070001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "webhookId": "b8070001-webhook-agent-assistant"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "당신은 Webhook API용 업무 비서입니다.\n- 계산 질문 → Calculator 사용\n- 시간 질문 → Date & Time 사용\n- 3문장 이내 한국어 존댓말로 답변"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-320, 0],
      "id": "b8070002-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.3 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-480, 260],
      "id": "b8070003-0003-4000-8000-000000000003",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [-240, 260],
      "id": "b8070004-0004-4000-8000-000000000004",
      "name": "Calculator"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [0, 260],
      "id": "b8070005-0005-4000-8000-000000000005",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output, \"timestamp\": $now.toISO() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "b8070006-0006-4000-8000-000000000006",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Calculator": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Date & Time": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
