실습 소스/n8n이 다해줌 책_실습답안/chap4_장바구니/chap4. 장바구니.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "안녕하세요 저는 농수산물 장바구니 도움 AI Agent 입니다. 무엇을 도와드릴까요?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -128,
        -48
      ],
      "id": "aeb75943-2eb3-48ec-9885-5df22b2b7ef9",
      "name": "When chat message received",
      "webhookId": "235af821-af7b-424b-9626-9d46377e8d1f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=1. 역할 정의 (Role & Persona)\n당신은 최신 데이터를 기반으로 시장을 꿰뚫어 보는 농산물 시세 전문 분석가 '팜데이터'입니다.\n단순한 정보 전달자가 아닌, 농산물 가격 데이터의 흐름을 읽고 사용자에게 '실용적인 인사이트'*를 제공하는 AI 파트너입니다.\n\n주요 목표: KAMIS API의 데이터와 Google Sheets의 품목 정보를 결합하여, 사용자가 시장 상황을 쉽게 이해하고 구매/판매 등의 실제 행동을 결정할 수 있도록 돕습니다.\n\n톤 앤 매너: 친근하면서도 신뢰감 있는 전문가의 어조를 유지합니다. 어려운 전문 용어는 쉽게 풀어서 설명하고, 데이터를 근거로 명확한 조언을 제공합니다.\n\n2. 작업 배경 및 지식 (Context)\nn8n 워크플로우 환경에서 작동하며, 정확한 시세 분석을 위해 현재 시간을 기준으로 데이터를 조회해야 합니다.\n\n현재 환경 정보: 오늘은 {{$now.format('yyyy-MM-dd')}}입니다. 모든 분석과 답변은 이 날짜를 기준으로 이루어집니다.\n\n작업 환경: 채팅 인터페이스를 통해 사용자의 자연어 질문을 입력받고, 적절한 도구를 호출하여 분석된 정보를 텍스트로 답변합니다.\n\n3. 사용 가능한 도구 (Tool Description)\n다음 도구들은 사용자의 질문을 분석하고 데이터를 조회하기 위해 호출되어야 합니다.\n\nGoogle Sheets: 사용자가 말한 품목명(예: 복숭아)을 API가 이해할 수 있는 '품목 코드', '부류 코드' 등으로 변환하기 위해 참조하는 데이터입니다.\n\nHTTP Request: 실시간 및 과거 농수산물 가격, 유통 정보를 조회하는 API입니다. (주의: 당일 데이터 조회가 불가능할 경우, 전일 데이터를 기준으로 조회합니다.)\n\n4. 업무 절차 (Interaction Steps)\n사용자와의 대화 및 작업 처리는 반드시 다음 '생각의 사슬(Chain of Thought)' 순서대로 진행하세요.\n\n[의도 파악]: 사용자의 질문이 시세 조회, 가격 비교, 트렌드 분석, 추천, 전략 조언 중 무엇인지 파악합니다.\n\n[정보 매핑]: Google Sheets 도구를 사용하여 질문 속 품목을 코드로 변환하고 API 요청에 필요한 파라미터를 준비합니다.\n\n[데이터 조회]: HTTP Request 도구를 실행하여 필요한 기간과 품목의 가격 데이터를 확보합니다. (날짜 형식: YYYY-MM-DD)\n\n[분석 및 인사이트]: 가져온 JSON 원시 데이터를 그대로 보여주지 않고 전일/전주/평년 대비 등락폭을 분석하여 의미 있는 정보를 추출합니다.\n\n[결과 생성]: 분석된 내용을 바탕으로 사용자에게 Markdown 형식을 활용해 가독성 높고 친근한 답변을 제공하며 대화를 마칩니다.\n\n5. 데이터 구조 및 처리 규칙 (Rules)\n최종 응답 생성 및 데이터 처리 시 지켜야 할 엄격한 규칙입니다.\n\n데이터 포맷: 날짜는 반드시 YYYY-MM-DD 형식을 따릅니다.\n\n출력 제한: API로부터 받은 JSON 원시 데이터는 절대로 사용자에게 그대로 노출하지 않습니다.\n\n표현 방식: Markdown(제목, 목록, 굵은 글씨)을 적극 활용하여 정보를 구조화합니다.\n\n예외 처리: 오늘 날짜의 데이터가 없는 경우(API 특성), 자동으로 가장 최신(보통 전일) 데이터를 기준으로 답변함을 명시합니다.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -48
      ],
      "id": "22a139c1-da4b-4571-82e6-d47f66c3391e",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        160
      ],
      "id": "8db70791-a856-45c4-a9d1-f968a6e26a27",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "kamis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 957982738,
          "mode": "list",
          "cachedResultName": "품목코드",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=957982738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        384,
        160
      ],
      "id": "76cd2943-e1bd-47bd-b441-69f76ee29cd0",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qgcTaEbHs4iKKK4h",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        160
      ],
      "id": "7f260608-dd24-4168-b3ab-8287eb084639",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "txHyfbmXb0FyHr3N",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "item_category_code"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        496,
        -48
      ],
      "id": "e5aef301-1114-4a24-82d0-fedef21ea90c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "http://www.kamis.or.kr/service/price/xml.do",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "dailyPriceByCategoryList"
            },
            {
              "name": "p_product_cls_code",
              "value": "02"
            },
            {
              "name": "p_country_code",
              "value": "1101"
            },
            {
              "name": "p_regday",
              "value": "={{$now.format(\"yyyy-MM-dd\")}}"
            },
            {
              "name": "p_item_category_code",
              "value": "={{$json.item_category_code}}"
            },
            {
              "name": "p_cert_key",
              "value": "YOUR_KAMIS_CERT_KEY"
            },
            {
              "name": "p_cert_id",
              "value": "YOUR_KAMIS_CERT_ID"
            },
            {
              "name": "p_returntype",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        -48
      ],
      "id": "95307b14-0f79-43bd-b529-803e9e8a9840",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YOUR_SUBWORKFLOW_ID",
          "mode": "list",
          "cachedResultUrl": "/workflow/YOUR_SUBWORKFLOW_ID",
          "cachedResultName": "장바구니"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "item_category_code": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item_category_code', `Google Sheets에서 찾은 부류코드예: 딸기면 200, 고구마면 100 처럼  \"숫자 + 00\"의 형태`, 'string') }}"
          },
          "matchingColumns": [
            "item_category_code"
          ],
          "schema": [
            {
              "id": "item_category_code",
              "displayName": "item_category_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        256,
        160
      ],
      "id": "a39017ed-709d-4fb3-9c83-bccda7905376",
      "name": "Call '장바구니'"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '장바구니'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c3df53d06f8e98b76dce975edff00f3b3bb54cd4a475a425a4806301153f7bf"
  }
}
