실습 소스/04_AI 활용 실습/실습4_Webhook_AI_텍스트분석.json
{
  "name": "활용 실습4: Webhook + AI 텍스트 분석",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-text",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 0],
      "id": "a3040001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "webhookId": "a3040001-webhook-analyze-0001"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "아래 텍스트를 분석하여 키워드 3개와 한 줄 요약을 한국어로 작성하세요.\n\n텍스트: {{ $json.body.text }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-320, 0],
      "id": "a3040002-0002-4000-8000-000000000002",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-320, 200],
      "id": "a3040003-0003-4000-8000-000000000003",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"keywords\": [\"자동화\", \"워크플로우\", \"AI\"],\n\t\"summary\": \"n8n으로 업무 자동화를 구현하는 방법\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-320, 400],
      "id": "a3040004-0004-4000-8000-000000000004",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "a3040005-0005-4000-8000-000000000005",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Basic LLM Chain", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
