실습 소스/기초 실습 답안/실습6_Code_노드.json
{
  "name": "실습6: Code 노드",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 0],
      "id": "e1060001-0001-4000-8000-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 0],
      "id": "e1060002-0002-4000-8000-000000000002",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const title = $input.first().json.title;\n\nreturn [{\n  json: {\n    title,\n    wordCount: title.split(' ').length,\n    upperTitle: title.toUpperCase()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 0],
      "id": "e1060003-0003-4000-8000-000000000003",
      "name": "Code"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
